body {
    font-family:  Roboto, sans-serif;
    text-align: center;
    background-color: #8CC461;
}
 
.main{    
    height: 715px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 62px;
}

.container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 158px;
    width: 800px;    
    border-radius: 13px;
    border-color: white;
    border-width: 2px; 
    border-style: solid;
    padding: 18px;
}

.heading {
    width: 400px;
    height: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.head1 {
    height: 33.33%;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.head1 h1 {
    letter-spacing: 0.1em;
    margin: 0;
    font-size: 40px;
    font-weight: 600;
}
.score-board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;

}

.score-tab {
    height: 128px;
    width: 139px;
    border-radius: 9px;
    padding: 8px;
    background-color: white;
    color: #656565;
}
.st-text{
    margin-bottom: 15px;
}
.st-text h1{
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 0;
    
}

#human-score, #computer-score {
    font-size: 68px;
    font-weight: 700;
    color:black
}

.game{
    width: 100%;
    margin-top: 95px;
}

.choices{
display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.sps {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 94px;
    margin-left: 475px;
    
}

.choices button {
    padding: 10px;
    font-size: 18px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 16px solid transparent;
   
}

.stone{
    margin-right: 47px;
}
.scissor{
    margin-left: 47px;
}
.paper{
    background-color: black;
    grid-column: 1 / span 2;
    justify-self: center;
}
img {
    width: 37px;
    height: 53.5px;
}
.result {
    margin: 20px;
    font-size: 22px;
}

#rules-button {
    
    width: 119px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-left: 150px;
    
}
.rules{
    display:flex;
    
}

.pop{
    display: flex;
    flex-direction: column;
    
    margin-left: 200px;
    
}

.popup{
    display: none;
    width:269px;
    height:311px;
    border: 7px solid white;
    border-radius: 13px;
    background-color: #004429;
    color: white;
    position: relative;
    

}
.popup h2{
    font-size: 29px;
    font-weight: 500;
    margin: 18px;
}

ul{
    list-style-type: square;
    text-align: justify;
}
li{
    font-size: 13px;
    font-weight: 40;
    margin-bottom: 15px;
    margin-right: 15px;
}

li::marker {
    color: yellow;
    size: 8px;
}.game{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose-box {
    display: flex;
    justify-content: center;
    width:500px;
    align-items: center;
    margin-top: 50px;
    background: #86c660;   
    text-align: center;
    position: relative;
}

.box-left,
.box-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-circle {
    position: relative;
}



.btn-cir {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 16px solid #ccc;
    background-color: white;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    
}

.picked-text {
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.output h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 10px;
    
}

.output{
    margin: 35px;
}
.output p {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

.output button {
    padding: 10px 30px;
    background: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.announce-winner{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
.announce-winner img{
    height:201px;
    width: 200px;
}

.hurray-text{
    font-size: 91px;
    margin:0;
    letter-spacing: 0.1em;
    color: white;
}
#winner {
    display: none;
}
.hidden {
    display: none;
}